PUBLIC_SITE_URL=https://softhe.io
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxx

UPSTASH_REDIS_REST_URL=https://xxxxxxxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxxxxxxxxxxxxxxx
CONTACT_RATE_LIMIT_SECRET=generate-a-long-random-value

EMAILJS_SERVICE_ID=service_xxxxxxx
EMAILJS_TEMPLATE_ID=template_xxxxxxx
EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxx
# EMAILJS_PRIVATE_KEY=xxxxxxxxxxxxxxxx

ORDER_FULFILLMENT_WEBHOOK_URL=https://orders.example.com/softhe
ORDER_FULFILLMENT_WEBHOOK_SECRET=generate-another-long-random-value
